* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: salmon;
  z-index: 10;
}

.custom {
  background-color: aquamarine;
  /* position: static; */
  /* position: relative; */
  /* position: absolute; */
  /* position: fixed; */
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 20;
  width: 100%;
  height: 70px;
}

.one {
  width: 100%;
  height: 700px;
}