* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    text-align: center;
    color: #0da6f3;
    font-size: 120px;
    margin: 0 auto;
}

.cards-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0da6f3;
    border-radius: 10px;
    height: 400px;
    cursor: pointer;
    transition: 1s ;
}

.img-card {
    width: 50%;
    margin-top: 60px;
}

.card .img-card {
    opacity: 0;
}

.card .card-name {
    opacity: 0;
}

.card-selected {
    background-color: #f8edeb;
    transform: rotateY(180deg);
}

.card-selected .card-name {
    color: #0da6f3;
    font-weight: 700;
    opacity: 1;
    transform: rotateY(180deg);
    transition: opacity 1.2s ease-in-out;
}


.card-selected .img-card {
    overflow: hidden;
    max-width: 100%;
    opacity: 1;
    transform: rotateY(180deg);
    transition: opacity 1.2s ease-in-out;
}

footer {
    font-weight: 300;
    text-align: center;
    margin: 20px auto;
}